<?xml version="1.0" ?>
<robot name="nexus_vehicle">
    <webots>
        <!-- Auto-publish LiDAR — no code needed -->
        <device reference="lidar" type="Lidar">
            <ros>
                <topicName>/nexus/sensors/lidar</topicName>
                <alwaysOn>true</alwaysOn>
            </ros>
        </device>
        <!-- Our custom driver plugin for motors + GPS + cmd subscription -->
        <plugin type="nexus_robot_driver.NexusRobotDriver" />
    </webots>
</robot>
