<?xml version="1.0" ?>
<robot name="nexus_vehicle">
    <webots>
        <device reference="lidar" type="Lidar">
            <ros>
                <topicName>/nexus/sensors/lidar</topicName>
                <alwaysOn>true</alwaysOn>
            </ros>
        </device>
        <plugin type="nexus_robot_driver.NexusRobotDriver" />
    </webots>
</robot>
