nexus-sim:
  build:
    context: .
    dockerfile: docker/Dockerfile.carla
  image: nexus/carla:0.9.16
  container_name: nexus_carla
  runtime: nvidia
  environment:
    - DISPLAY=${DISPLAY}
    - NVIDIA_VISIBLE_DEVICES=all
    - NVIDIA_DRIVER_CAPABILITIES=all
  volumes:
    - /tmp/.X11-unix:/tmp/.X11-unix:rw
    - rviz_shared_configs:/workspace/rviz_configs   # needed for sharing config files with nexus-ros2
  ports:
    - "2000-2002:2000-2002"
  networks:
    - nexus_net