nexus-sim:
  build:
    context: .
    dockerfile: docker/Dockerfile.webots
  image: nexus/webots:R2023b
  container_name: nexus_webots
  environment:
    - DISPLAY=${DISPLAY}
    - WEBOTS_HOME=/usr/local/webots
    - LIBGL_ALWAYS_SOFTWARE=1
    - GALLIUM_DRIVER=llvmpipe
    - XAUTHORITY=/root/.Xauthority
    - ROS_DOMAIN_ID=0
  volumes:
    - /tmp/.X11-unix:/tmp/.X11-unix:rw
    - ${HOME}/.Xauthority:/root/.Xauthority:ro
    - ./simulators/webots/worlds:/nexus/worlds
    - ./simulators/webots:/nexus/driver
    - .:/nexus
  ports:
    - "1234:1234"
  networks:
    - nexus_net
  command: /bin/bash -c ". /opt/ros/humble/setup.bash && ros2 launch /nexus/simulators/webots/robot_launch.py"
